.form-control {
    margin: 1rem 0;
  }
  
  .form-control label,
  .form-control input,
  .form-control textarea {
    display: block;
  }
  
  .form-control label {
    font-weight: bold;
    margin-bottom: 0.4rem;
    color: #23364f;
    font-size: 1.2rem;
    font-family: inherit;
  }

  .form-control button {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 25px;
    height: 35px;
    margin: 5px;
  }
  
  .form-control button:focus{
    outline: none;
  }
  
  .form-control input,
  .form-control textarea {
    width: 100%;
    height: 40px;
    font: inherit;
    border: 2px solid #23364f;
    border-radius: 6px;
    background: #f8f8f8;
    padding: 0.15rem 0.25rem;
    box-sizing: border-box;
  }
  
  .form-control input:focus,
  .form-control textarea:focus {
    outline: none;
    background: #ebebeb;
    border-color: #510077;
  }
  
  .form-control--invalid label,
  .form-control--invalid p {
    color: red;
  }
  
  .form-control--invalid input,
  .form-control--invalid textarea {
    border-color: red;
    background: #ffd1d1;
  }