.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.4rem;
  color: #23364f;
  font-size: 1.2rem;
  font-family: inherit;
}

.form-control button {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 25px;
  height: 35px;
  margin: 5px;
}

.form-control button:focus {
  outline: none;
}

.form-control input,
.form-control textarea {
  width: 100%;
  height: 40px;
  font: inherit;
  border: 2px solid #23364f;
  border-radius: 6px;
  background: #f8f8f8;
  padding: 0.15rem 0.25rem;
  box-sizing: border-box;
}

.form-control input:focus,
.form-control textarea:focus {
  outline: none;
  background: #ebebeb;
  border-color: #510077;
}

.form-control--invalid label,
.form-control--invalid p {
  color: red;
}

.form-control--invalid input,
.form-control--invalid textarea {
  border-color: red;
  background: #ffd1d1;
}

.form-control-radio {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  cursor: pointer;
  width: 100%;
  padding: 5px 10px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 6px;
  margin: 5px 0;
}

.form-control-radio label {
  width: 100%;
  font-family: inherit;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.form-control-radio label p {
  width: 80%;
  margin: 5px 0;
  font-size: 1.1rem;
}

.form-control-radio input {
  display: none;
}

.form-control-radio--not-selected {
  border: 3px solid #f6f6f6;
  font-weight: 500;
}

.form-control-radio--selected {
  border: 3px solid #8c5e58;
  font-weight: 700;
}

.form-control-radio__check--not-selected {
  height: 20px;
  width: 20px;
  margin-top: 2px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #8c5e58;
  background-color: #fff;
}

.form-control-radio__check--selected {
  height: 20px;
  width: 20px;
  margin-top: 2px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #8c5e58;
  background-color: #8c5e58;
}

.form-control-radio--incorrect,
.form-control-radio--correct,
.form-control-radio--correct-not-selected {
  border: 3px solid #f6f6f6;
  font-weight: 500;
}

.form-control-radio--correct,
.form-control-radio--correct-not-selected {
  background-color: #BFFFC9;
  font-weight: 700;
}

.form-control-radio--incorrect {
  background-color: #FFBFBF;
  font-weight: 500;
}


.form-control-radio__check--selected,
.form-control-radio__check--not-selected {
  position: absolute;
  top: 50%;
  right: 10px;
  -moz-transform: translateY(-56%);
  -webkit-transform: translateY(-56%);
  transform: translateY(-56%);
}