.questionarie {
  padding: 50px 10px 15px 10px;
  box-sizing: border-box;
  height: 90vh;
}

.questionarie form {
  height: 100%;
  width: 100%;
}

.questionarie__questions {
  padding: 0px 15px;
  box-sizing: border-box;
  min-height: 90%;
}
.questionarie__buttons {
  display: flex;
}
