@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');


html {
  font-family: 'Raleway', 'sans-serif';  
}

body {
  margin: 0;
  background-color: #F6F6F6;
  overscroll-behavior-y: contain;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner--center{
  background-color: #F6F6F6;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}